/* You can add global styles to this file, and also import other style files */

// minimal scss dependencies for toasts
@import '~@sebgroup/bootstrap/scss/core';
@import '~@sebgroup/bootstrap/scss/styles/reboot';
@import '~@sebgroup/bootstrap/scss/styles/toasts';
@import '~@sebgroup/fonts/scss/seb-fonts';
@import '../scss/ngx-toastr';


// needed for demo
@import '~@sebgroup/bootstrap/scss/styles/type';
@import '~@sebgroup/bootstrap/scss/styles/utilities';
@import '~@sebgroup/bootstrap/scss/styles/card';
@import '~@sebgroup/bootstrap/scss/styles/buttons';
@import '~@sebgroup/bootstrap/scss/styles/grid';
@import '~@sebgroup/bootstrap/scss/styles/nav';
@import '~@sebgroup/bootstrap/scss/styles/code';
@import '~@sebgroup/bootstrap/scss/styles/list-group';


// needed for markup examples
@import "~angular-exemplify/scss/prism-exemplify";
